MQTT_HOST="YOUR-IP-ADDRESS"
MQTT_PORT="1883"
MQTT_USER="YOUR-USERNAME"
MQTT_PASSWORD="YOUR-PASSWORD"

DEVICE_ID="batocera"  #or any other name you prefer (i.e. restrostation, retrobox)
DEVICE_NAME="Batocera" #or any other name you prefer (i.e. RestroStation, RetroBox)
BASE_TOPIC="batocera" #or any other name you prefer (i.e. restrostation, retrobox)
DISCOVERY_PREFIX="homeassistant"

WAKE_MAC="YOUR-MAC-ADDRESS"
IGNORED_JOYSTICKS="js1" #IGNORES KEYBOARDS, REMOTE STREAMING DEVICES
